
Prototype/Notebooks/CleaningData/Boundary/.ipynb_checkpoints/DefineBoundary-checkpoint.ipynb
Prototype/Notebooks/CleaningData/PermittedEmissions/.ipynb_checkpoints/Cleaning_Emissions-checkpoint.ipynb
Prototype/Notebooks/CleaningData/Traffic/.ipynb_checkpoints/CleaningAADT-checkpoint.ipynb
Prototype/Notebooks/CleaningData/PermittedEmissions/mpls_boundary.cpg
Prototype/Notebooks/CleaningData/PermittedEmissions/mpls_boundary.dbf
Prototype/Notebooks/CleaningData/PermittedEmissions/mpls_boundary.prj
Prototype/Notebooks/CleaningData/PermittedEmissions/mpls_boundary.shp
Prototype/Notebooks/CleaningData/PermittedEmissions/mpls_boundary.shx
Prototype/Notebooks/CleaningData/PermittedEmissions/.ipynb_checkpoints/PollutantGroups-checkpoint.ipynb
Prototype/Notebooks/CleaningData/VOCs/.ipynb_checkpoints/CleaningVOCs-checkpoint.ipynb
Prototype/Notebooks/CleaningData/PermittedEmissions/PointSourceAirEmissionsInventory/MPCA_PointSourceEmissionInventory.xlsx
Prototype/Notebooks/.ipynb_checkpoints/Exploring Emissions-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/Full Data Folium Map-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/ExploringTraffic-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/MVP-checkpoint.html
Prototype/Notebooks/.ipynb_checkpoints/MVP Deliverable-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/MVP Deliverable-checkpoint.ipynb
Prototype/Notebooks/CleaningData/GZ_Boundaries/.ipynb_checkpoints/GZBoundaries_README-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/AddHealthDataToFolium-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/Data Demo-checkpoint.ipynb
Prototype/Notebooks/.ipynb_checkpoints/TAB Full Data Folium Map-checkpoint.ipynb
Prototype/Notebooks/CleaningData/Demographics/.ipynb_checkpoints/Cleaning_Census_Data-checkpoint.ipynb
*.swp
*.pyc
*.ipyc
.env
geodjangogz/geodjangogz/__pycache__/*
